In [54]:
import pandas as pd
import numpy as np
import os
from difflib import SequenceMatcher

In [32]:
df=pd.DataFrame({'Name':['Huy Bui', 'Chris Nguyen', 'Hieu Bui', 'Sang Pham', 'Josepth'],
             'Grade':[-1,-1,-1,-1,-1]})
df

           Name  Grade
0       Huy Bui     -1
1  Chris Nguyen     -1
2      Hieu Bui     -1
3     Sang Pham     -1
4       Josepth     -1

In [48]:
def similar(input_name,df):
    output=[]
    for correct_name in df.Name:
        r_input_name = ' '.join(reversed(input_name.split(' ')))
        s1=SequenceMatcher(None, input_name, correct_name).ratio()
        s2=SequenceMatcher(None, r_input_name, correct_name).ratio()
        output.append(max(s1,s2))
    
    output = np.array(output)
    output=output.argsort()[-3:][::-1]
    return df.Name[output].reset_index(drop=True)

In [ ]:
print(similar('Bui g Huy', df))

In [61]:
[name for name in os.listdir("./Test")]

['IMG_20200202_001457.jpg',
 'IMG_20200202_001525.jpg',
 'IMG_20200202_001433.jpg']